<footer class="site-footer">
    <div class="wrapper">
        <ul class="social-media-list" style="{{ include.style }}">
            <li><a rel="me" href="https://github.com/{{ site.github_username }}" target="_blank" title="{{ site.github_username }}"><img src="/assets/github_logo.png" /></a></li>
            <li><a rel="me" href="https://www.linkedin.com/in/{{ site.linkedin_username }}" target="_blank" title="{{ site.linkedin_username }}"><img src="/assets/linkedIn_logo.png" /></a></li>
            <li><a rel="me" href="https://twitter.com/{{ site.twitter_username }}" target="_blank" title="{{ site.twitter_username }}"><img src="/assets/x_logo.png" /></a></li>
            <li><a rel="me" href="https://t.me/{{ site.telegram_username }}" target="_blank" title="{{ site.telegram_username }}"><img src="/assets/telegram_logo.png" /></a></li>
        </ul>
        <span style="display:block; width:100%; text-align: right; margin-top: 10px">{{ site.description }}</span>
    </div>
</footer>
